
.card-body{
  display: grid;
  margin:2rem;
   align-self: center; 
  align-items: center; 
  /* padding: 10rem; */
}

h5{
  text-align: center;
}
#card{
  background-color:rgb(104, 174, 228); 
  display: flex;
  align-items: center;
  justify-content: center;
  margin:8rem ;
  height: 30rem;
  width: 20rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0rem;
}

.btn :active {
  background-color: aliceblue;
  color: rgb(27, 72, 187);
}

img{
  height:8rem;
  width:8rem;
}